.cover__caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.4s;
}

.cover__caption:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
