.places__item-url {
  color: #aaaaaa;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
}

@media (max-width: 1023px) {
  .places__item-url {
    line-height: 100%;
  }
}
