.cover__pic-link {
  color: white;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 740px;
  background: linear-gradient(rgba(42, 44, 47, 0), rgba(42, 44, 47, 0)),
    url(../../../images/cover_image.jpg) no-repeat center;
  background-size: cover;
}

.cover__pic-link:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url(../../../images/cover_image.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 1279px) {
  .cover__pic-link {
    min-height: 640px;
  }
}
@media (max-width: 1023px) {
  .cover__pic-link {
    min-height: 480px;
  }
}
@media (max-width: 767px) {
  .cover__pic-link {
    min-height: 200px;
  }
}
