.places__item-title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  width: 47%;
  margin-right: 40px;
  flex: none;
}

@media (max-width: 1279px) {
  .places__item-title {
    margin-right: 32px;
    width: 47.5%;
  }
}
@media (max-width: 1023px) {
  .places__item-title {
    font-size: 42px;
    line-height: 46px;
    width: 47%;
    margin-right: 28px;
  }
}

@media (max-width: 767px) {
  .places__item-title {
    font-size: 32px;
    line-height: 35px;

    width: 100%;
    margin-right: 0;
  }
}
